/* Relative sizing elements */
img,
embed,
object,
video {
  max-width: 100%;
}

/* Tapable elements 48px min*/
nav a,
button {
  min-width: 48px;
  min-height: 48px;
}

/*Media Query*/
@media screen and (max-width: 450px) {
  body {
    background: #bbb;
  }
}
