
body {
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container div {
  box-sizing: border-box;
  min-height: 150px;
  min-width: 150px;
}

.c1 {
  color: #ddd;
  background-color: #003476;
}

.c2 {
  color: #ddd;
  background-color: #0062d2;
}

.c3 {
  color: #333;
  background-color: #b4d2f7;
}


/* Layout-shifter*/
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c2, .c3, .c4 {
  width: 100%;
}

@media (min-width: 600px) {
  .c1 {
    width: 25%;
  }

  .c4 {
    width: 75%;
  }

}

@media (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}