body {
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container div {
  box-sizing: border-box;
  min-height: 150px;
  min-width: 150px;
}

.c1 {
  color: #ddd;
  background-color: #003476;
}

/* Tiny Tweaks */
.c1 {
  padding: 10px;
  width: 100%;
}


@media (min-width: 500px) {
  .c1 {
    padding: 20px;
    font-size: 1.5em;
  }
}

@media (min-width: 800px) {
  .c1 {
    padding: 40px;
    font-size: 2em;
  }
}
